{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/open-iconic-bootstrap.min.css' %}">

    <title>Document</title>
</head>
<body>
    {% crispy form form.helper %}
</body>
</html>